<!DOCTYPE html>
<html>
<head>
	<title>My Web Pge</title>
</head>
<body>
	<h1>Second Page</h1>
	<p>Dhoni made his ODI debut on 23 December, 2004 against Bangladesh, and played his first Test a year later against Sri Lanka. He has been the recipient of many awards, including the ICC ODI Player of the Year award in 2008 and 2009 (the first player to win the award twice), the Rajiv Gandhi Khel Ratna award in 2007, the Padma Shri, India's fourth highest civilian honour, in 2009 and the Padma Bhushan, India's third highest civilian honour, in 2018.[13] Dhoni was named as the captain of the ICC World Test XI in 2009, 2010 and 2013. He has also been selected a record 8 times in ICC World ODI XI teams, 5 times as captain. The Indian Territorial Army conferred the honorary rank of Lieutenant Colonel[14] to Dhoni on 1 November 2011. He is the second Indian cricketer after Kapil Dev to receive this honour.</p>
	<a href="{{ url_for('index1') }}"> Go back...</a>

</body>
</html>